header {
    padding: 3vh;
    position: static;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.contents {
    height: 100%;
    text-align: center;
    padding: 3vh;
}
.logosize {
    font-size: 3vw;
}

.black-button {
    padding: 12px 20px;
    border-radius: 1vh;
    font-weight: bold;
    color: #ffffff;
    background-color: #000000;
}

.login-urge {
    margin: 5vh 0vh;
}

.page-title {
    color: #ffffff;
    background: #1e3c72;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5vw;
}

.userimg {
    width: 6vw;
	height: 6vw;
	object-fit: cover;
    border-radius: 1vw;
}

.username {
    vertical-align: middle;
    font-size: 2vw;
}

.section {
    /* margin-bottom: 1vw; */
}

.user-table {
    border-collapse:separate;
    border-spacing: 2vw;
}
.inner-box {
    display: inline-block;
    text-align: initial;
    padding: 2vw;
    width: 95%;
}
.section-title {
    margin: 1.5vw 0vw;
}

.section-list {
    background-color: #E5E5EA;
    border-radius: 1vw;
}

.section-item {
    font-size: 1.5vw;
    font-weight: bold;
    padding: 1.5vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.section-list a + a li {
    border-top: solid 1px #000000;
}

/* PC向けCSS */
@media screen and (min-width:830px) {
    .onlyPC {
        display: initial;
    }
    .onlySumaho {
        display: none;
    }
}

/* スマホ向けCSS */
@media screen and (max-width:829px) {
    .onlyPC {
        display: none;
    }
    .onlySumaho {
        display: initial;
    }
    .shMenu {
        position: fixed;
        left: 0;
        bottom: 0;
        background: #4C4C4C;
        color: #ffffff;
        width: 100%;
    }
    .shMenu li {
        display: inline-block;
        table-layout: fixed;
        width: 30%;
        padding: 5px;
        list-style: none;
        text-align: center;
    }
    .shMenu a span {
        display: block;
        margin-top: 5px;
        font-size: 10px;
    }
}