body {
    text-align: center;
}
.logoSetting {
    margin: 2vw 0vw;
}
.Inner {
    display: inline-block;
}
.login-box {
    border: 1px solid #cccccc;
    padding: 2vw;
    margin-bottom: 1vw;
    text-align: initial;
    border-radius: 1vw;
}
.loginBtn-box {
    text-align: center;
    margin: 4vw 0vw;
}
#loginButton {
    padding: 1vw 5vw;
    border: 1px solid #cccccc;
    font-weight: bold;
    border-radius: 0.6vw;
}
.backBtn-box {
    text-align: initial;
}
.backBtn {
    display: inline-block;
    font-size: 1vw;
    padding: 1vw;
    border-radius: 0.6vw;
    background-color: #d3d3d3;
}