header {
    position: static;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
main {
    text-align: center;
}
.black-button {
    padding: 12px 20px;
    border-radius: 1vh;
    font-weight: bold;
    color: #ffffff;
    background-color: #000000;
}
.image-box {
    display: inline-block;
    text-align: initial;
    vertical-align: top;
}
.data-box {
    display: inline-block;
    text-align: initial;
}
#imgPreview {
    display: block;
	object-fit: cover;
    margin-bottom: 2vh;
}
.formTitle {
    margin-bottom: 1vh;
}
.formitem {
    padding: 0.5vw;
    margin-bottom: 2vh;
    background-color: #E5E5EA;
    border-radius: 0.5vw;
}
.support-txt {
    font-weight: bold;
    color: #4C4C4C;
}

/* PC向けCSS */
@media screen and (min-width:830px) {
    .onlyPC {
        display: initial;
    }
    .onlySumaho {
        display: none;
    }
    header {
        padding: 3vh;
    }
    .contents {
        padding: 5vh;
    }
    #imgPreview {
        width: 20vw;
        height: 20vw;
        border-radius: 1vw;
    }
}

/* スマホ向けCSS */
@media screen and (max-width:829px) {
    .onlyPC {
        display: none;
    }
    .onlySumaho {
        display: initial;
    }
    header {
        padding: 2vh;
    }
    .contents {
        padding: 3vh;
    }
    #imgPreview {
        display: inline-block;
        width: 55vw;
        height: 55vw;
        border-radius: 3vw;
    }
    #fileInput {
        display: inline-block;
    }
    .image-box {
        text-align: center;
        margin-bottom: 2vh;
    }
}